{% extends 'layout.html.twig' %}

{% block contents %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      <h1>Album view</h1>
      <p>現在登録されている画像の一覧です。</p>
      <a href="javascript:;" onclick="showAlbums()" class="btn btn-primary">アルバムを追加する</a>
      <a href="{{ urlFor('mosaic_viewer') }}" class="btn btn-danger"">モザイクを作成する</a>
      <form action="{{ urlFor('album_viewer_post') }}" method="post" id="album-frm">
        <input type="hidden" id="albumId" name="albumId" value="" />
      </form>
    </div>
  
    <div> 
    {% for imagePath in imagePathList %}
         <img src="{{ imagePath }}"  width="150px"></option>
    {% endfor %}
    </div>

    <div>
      <a href="{{ urlFor('mosaic_viewer') }}" class="btn btn-danger">モザイクを作成する</a>
    </div>
{% endblock %}

{% block javascript%}
<script type="text/javascript" src="{{ asset('/js/album_viewer/select_album.js') }}"></script>
{% endblock%}
