{% extends 'layout.html.twig' %}

{% block contents %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      <h1>Album view</h1>
      <p>現在登録されている画像の一覧です。</p>
      <a href="javascript:;" onclick="showAlbums()" class="btn btn-primary">アルバムを追加する</a>
      <button id="createMosaic" onclick="create();" class="btn btn-danger">モザイクを作成する</button><br>
      <form action="{{ urlFor('album_viewer_post') }}" method="post" id="album-frm">
        <input type="hidden" id="albumId" name="albumId" value="" />
      </form>
    </div>
    <div class="row">
      <div class="span10">
        <ul class="thumbnails">
          {% for imagePath in imagePathList %}
          <li class="span2">
            <div class="thumbnail">
              <img src="{{ imagePath }}">
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
   
    <div id="buttons">
      <button id="createMosaic" onclick="create();" class="btn btn-danger">モザイクを作成する</button><br>
    </div>
{% endblock %}

{% block javascript%}
<script type="text/javascript" src="{{ asset('/js/album_viewer/select_album.js') }}"></script>
<script type="text/javascript">
function create()
{
    alert('モザイク画の作成を開始しました。\n完成したらFaceBookからお知らせが来るので、しばらくお待ち下さい。');
    $("#createMosaic").attr('disabled', 'disabled');
    $.ajax({
        type:"GET",
        url:"{{ urlFor('create_mosaic') }}",
        success: function(arr)
        {
            alert('モザイク画が作成されました');
            $("#buttons").append('<a href="{{ urlFor('mosaic_viewer') }}" class="btn btn-primary btn-large">作成されたモザイクを見る</a><br>');
        },
        error: function(XMLHttpRequest, textStatus, errorThrown)
        {
        alert('エラー発生だよ');
        alert(textStatus);
        }
    });
}
</script>
{% endblock%}
