{% extends 'layout.html.twig' %}

{% block contents %}
<!--<div class="hero-unit">-->
  <!--<h1>Mosaic_viewer</h1>-->
  <!--<p>goal id {{goalId}}</p>-->
<!--</div>-->

<!--<div id="canvas_group" class="text-center">-->
  <!--<canvas id ="cvs1" width="800" height="600"></canvas>-->
<!--</div>-->
<!--<a id="showModal" class="btn" href="#modal1" data-toggle="modal">完成画像をダウンロード</a>-->
<button id="showModal" class="btn btn-promary">モザイク画増ダウンロード</button>
{% endblock %}


{% block javascript%}
<!--<script type="text/javascript" src="{{ asset('/js/mosaic/canvastest.js') }}"></script>-->
<script type="text/javascript" src="{{ asset('/js/canvastest/threetest.js') }}"></script>
<script type="x-shader/x-vertex" src="{{ asset('/shader/test.vert') }}"></script>
<script type="x-shader/x-fragment" src="{{ asset('/shader/test.frag') }}"></script>
{% endblock%}
