{% extends 'layout.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('/css/carousel-customize.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block contents %}
    <!-- Main hero unit for a primary marketing message or call to action -->
<!--   <div class="hero-unit">
      <h1>Mosaic Album</h1>
      <p>みんなの写真を集めてモザイク写真をつくろう！</p>
      <p><img alt="Header" id="photo" src="/img/mosaic_img/mosaic5.png" align="left"/>
      <br><br><br>
      「Mosaic Album」はあなたと友達の写真を集めて１つのモザイク写真をつくるアプリケーションです。<br><br><br><br><br><br><br><br><br>
    </div>
-->
 <!-- Carousel================================================== -->

<link href="{{ asset('/css/carousel-customize.css') }}" rel="stylesheet" />
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://getbootstrap.com/2.3.2/assets/img/examples/slide-01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Sign up today</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://getbootstrap.com/2.3.2/assets/img/examples/slide-02.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://getbootstrap.com/2.3.2/assets/img/examples/slide-03.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->



    <div align="center">
    {% if loginUrl != '' %}
      <a href="{{ loginUrl }}" class="btn btn-primary btn-large">facebookログイン</a>
    {% else %}
      {% if goalImageId != NULL %}
        {% if isHost %}
          <a href="{{ urlFor('album_viewer') }}" class="btn btn-primary btn-large" >参加中の作品を見る</a>
        {% else %}
          <a href="{{ urlFor('album_viewer') }}" class="btn btn-primary btn-large">モザイクアルバムに参加する</a>
        {% endif %}
      {% endif %}
      <a href="{{ urlFor('select') }}" class="btn btn-primary btn-large">新しくモザイクアルバムを作る</a>
    {% endif %}
    </div>
{% endblock %}
