<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mosaic Album</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ asset('/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{{ asset('/bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/image-picker.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/mosaicalbum.css') }}" rel="stylesheet">

  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">MosaicAlbum</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              {% block login %}
              {% if session.get('isLogin') %}
              <li><a href="{{ urlFor('logout') }}">ログアウト</a></li>
              {% endif %}
              {% endblock %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <!--modal-->
    <!--debug-->
    <div id="modal1" class="modal hide fade">
      <div class="modal-header">
        <p>header</p>
      </div>
      <div class="modal-body">
        <p>modal dayo</p>
      </div>
      <div class="modal-footer">
        footer
      </div>
    </div>

    <div class="container" id="container">
      {% block contents '' %}
      <footer>
      <p>&copy; Company 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ asset('/js/jquery-2.0.0.js') }}"></script>
    <script src="{{ asset('/js/jquery.detailclick.js') }}"></script>
    <script src="{{ asset('/js/jquery.exscrollevent.js') }}"></script>
    <script src="{{ asset('/js/underscore.js') }}"></script>
    <script src="{{ asset('/js/backbone.js') }}"></script>
    <script src="{{ asset('/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ asset('/js/three.min.js') }}"></script>
    <script src="{{ asset('/js/tween.min.js') }}"></script>
    <script src="{{ asset('/js/TrackballControls.js') }}"></script>
    <script src="http://code.createjs.com/createjs-2013.09.25.min.js"></script>
    <script src="{{ asset('/js/image-picker.min.js') }}"></script>
    {% block javascript '' %}
  </body>
</html>
