{% extends 'layout.html.twig' %}

{% block contents %}
    <p>ゴール写真が入っているアルバムを選んでください</p>

    <form action="{{ urlFor('select_modal_image') }}" method="post"> 
        <select name="albumId" class="albums">
            {% for fbAlbum in fbAlbums %}
            <option data-img-src="{{ fbAlbum['thumbnailPath'] }}" value="{{ fbAlbum['id'] }}">{{ fbAlbum['name'] }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">このアルバムを選ぶ</button>
    </form>
{% endblock %}

{% block javascript%}
<script type="text/javascript" src="{{ asset('/js/select_goal/modal_album.js') }}"></script>
{% endblock%}
